body {
    font-family: 'League Spartan', sans-serif;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

@media(min-width:992px) {
    .container {
        width: 970px;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        position: relative;
        top: 50px;
        margin-bottom: -18px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}



.container .box-1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 50px;
}



.container .box-1 .box-3 {
    flex-basis: 54%;
}

.container .box-1 .box-3 h2 {
    font-size: 54px;
    color: hsl(300, 43%, 22%);
    margin-bottom: 0;
}

.container .box-1 .box-3 p {
    font-size: 15px;
    margin: 10px 0;
    color: #777;
}



.container .box-1 .box-4 {}

.container .box-1 .box-4 ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.container .box-1 .box-4 ul li {
    padding: 5px 28px;
    margin-bottom: 20px;
    background-color: #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container .box-1 .box-4 ul li:first-child {
    left: -85px;
    position: relative;
}

.container .box-1 .box-4 ul li:nth-child(2) {
    left: -22px;
    position: relative;
}

.container .box-1 .box-4 ul li img {
    width: 10px;
}

.container .box-1 .box-4 ul li p {
    display: inline-block;
    margin: 0;
    font-size: 15px;
    margin-left: 10px;
}





.container .box-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}



.container .box-2 .card {
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container .box-2 .card:nth-child(2) {
    position: relative;
    top: 20px;
}

.container .box-2 .card:last-child {
    position: relative;
    top: 40px;
}




.container .box-2 .card .head {
    display: flex;
    align-items: center;
}


.container .box-2 .card .head img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.container .box-2 .card .head .try {
    margin-left: 10px;
}

.container .box-2 .card .head .try h4 {
    margin-bottom: 0;
    color: white;
}

.container .box-2 .card .head .try h6 {
    margin-top: 5px;
    color: palevioletred;
}



.container .box-2 .card .text {}

.container .box-2 .card .text p {
    font-size: 15px;
    color: #eee;
}

@media(max-width:767px) {
    .container .box-1 {
        flex-direction: column;
        text-align: center;
    }

    .container .box-1 .box-4 ul li p {
        display: block;
        padding: 10px 0 0 0;
        color: black;
        font-weight: 600;
        font-size: 20px;
    }

    .container .box-1 .box-4 ul li {
        padding: 10px 28px;
        margin-bottom: 20px;
        background-color: #eee;
        border-radius: 5px;
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    .container .box-1 .box-4 ul li img {
        width: 20px;
    }

    .container .box-1 .box-3 p {
        font-size: 21px;
        margin: 15px 0;
        color: #777;
    }

    .container .box-1 .box-4 ul {
        justify-content: center;
        padding: 0;
    }

    .container .box-1 .box-4 ul li:first-child {
        left: 0;
    }

    .container .box-1 .box-4 ul li:nth-child(2) {
        left: 0;
    }

    .container .box-2 {
        gap: 10px;
    }

    .container .box-2 .card .text p {
        font-size: 20px;
    }

    .container .box-2 .card .text p {
        font-size: 25px;
    }

    .container .box-2 .card .head .try h4 {
        font-size: 20px;
    }

    .container .box-2 .card .head .try h6 {
        font-size: 16px;
    }
  
}

@media(min-width:992px) {
    .container .box-1 .box-4 {
        flex-basis: 50%;
    }

    .container .box-1 .box-3 {
        flex-basis: 31%;
    }
   
}